/* Add this at the top of your CSS file */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards-dashboard {
    padding: 20px;
    /* Adjust if needed */
    width: calc(100% - 40px);
    /* Consider the padding */
    margin: 0 auto;
    /* Center the content */
    box-sizing: border-box;
    /* Ensure padding is included in width */
}

.search-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.label-eventcard {
    font-size: 14px;
}

.search-input {
    height: 40px;
    width: 100%;
    max-width: 400px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1.5px solid gainsboro;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* On focus, add a highlight */
.search-input:focus {
    border-color: #1D5CAB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.innerdiv-eventcard {
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    /* Make sure it takes full width */
    margin: 0;
    /* Remove any margins */
    padding: 12px;
    /* Remove any padding */
}


.event-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card h4 {
    margin-bottom: 10px;
}

.event-card p {
    margin: 5px 0;
}

.event-actions {
    margin-top: 15px;
}

.action-btn {
    margin-right: 10px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.delete-btn {
    background-color: red;
}